<div class='well'>
  <h3><%= @message.method.upcase %></h3>
  <h4>Headers</h4>
  <table class='table'>
    <tbody>
      <% @message.headers.each do |k,v| %>
        <tr>
          <th style='width: 100px;'><%= k %></th>
          <td style='width: 600px; overflow-x: none;'><%= v %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <% if @message.body.blank? %>
    <h4>Query</h4>
    <%= Rack::Utils.escape_html @message.query %>
    <h4>Curl Command</h4>
    <textarea style='width: 100%'>
curl localhost:3000?<%= @message.query %>
    </textarea>
  <% else %>
    <h4>Body</h4>
    <% body = Rack::Utils.escape_html @message.body %>
    <%= body %>
    <h4>Curl Command</h4>
    <textarea style='width: 100%'>
curl -d "<%=body %>" -H <%= @message.headers.map {|k,v| "#{k}: #{v}"}.join(' -H ') %>
    </textarea>
  <% end %>
</div>
